Run programs like  
python3 -u evaluation_tasks\task_n.py

Then check task_n_result.png in evaluation_tasks folder for visualization.
Visualize after every change.

Replace task_n with the current opened file name.
Don't finish until you solve the task ("Test task passed" should be printerd).
---

Don't hard code expected values.

Don't run the following command.
taskkill /f /im python.exe


